<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
    <title>Login</title>
    <script type="text/javascript" th:src="@{/jquery/jquery-1.8.3.js}"></script>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>  
</head>
<body>  
    <div id="login">  
        <h1>Enter</h1>
        <p id="error"></p>  
        <form id="loginForm" method="post" th:action="@{/userLogin}">  
            <input type="text" required="required" placeholder="userName" name="userName"></input>  
            <input type="password" id="password" required="required" placeholder="password" name="password"></input>
            <input type="text" id="securityCode" placeholder="code" name="securityCode" /><br/>
            <label class="remember"><input id="check" name="remember" type="checkbox" value="true" />记住我</label>   
            <button class="but" id="button" type="button">登录</button>  
        </form>  
    </div>  
</body>
</html>